{# This needs a different name! #}
{% extends '_layout.html'%}
{%block title%}
Image Upload
{% endblock %}
{% block header%}
{% endblock %}
{%block content%}
<h1>Upload Your Images Here!</h2>
<form enctype = "multipart/form-data" action="{{url_for('images.create_two', id = current_user.id)}}" method="POST" >
    <div class="form-group">
        <input type="file" name="image_file" id="image_file" class='form-control'>
    </div>
    <div class="form-group">
      <input type='hidden' value={{csrf_token()}} name='csrf_token' class="form-control">
    </div>
    <button type="submit" class="btn btn-primary form-control">Upload</button>
</form>
{%endblock%}