<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title>{% block title %}{% endblock %} - NEXTAGRAM</title>
</head>

<body>
  {% with messages = get_flashed_messages()%}
    {%if messages%}
    <ul class='flashes'>
      {% for message in messages%}
      <li>
        {{message}}
      </li>
      {% endfor %}
    </ul>
    {%endif%}
  {%endwith%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NEXTAGRAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {%if current_user.is_authenticated%}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('users.index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <span class="navbar-text">{{ current_user.first_name }}'s page</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sessions.delete')}}">Log Out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('users.edit', id=current_user.id)}}">Edit My Details</a>
            <a class="dropdown-item" href="{{url_for('images.create', id = current_user.id)}}">Upload A Profile Image</a>
            <a class="dropdown-item" href="{{url_for('images.create_two', id = current_user.id)}}">Upload Image To Album</a>
          </div>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('users.new')}}">Sign-Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sessions.new')}}">Log In</a>
        </li>
        {%endif%}

        <li class="nav-item">
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>